
#infoContainer a {
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-weight: bold;
}

#infoContainer a i {
    margin-right: 10px;
}

#infoContainer label {
    color: grey;
}


#citasContainer a {
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-weight: bold;
}

#citasContainer a i {
    margin-right: 10px;
}

#citasContainer label {
    color: grey;
}


#citasCollapse table {
    border-top: 1px solid grey;
}

/* Pets table headers */
#citasCollapse table thead th {
    font-weight: bold;
    color: rgb(43, 43, 43);
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;     /* Oculta el desbordamiento */
    text-overflow: ellipsis;
}

/* Pets table items */
#citasCollapse table tbody td {
    color: rgb(43, 43, 43);
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;     /* Oculta el desbordamiento */
    text-overflow: ellipsis;
}

#buttonEdit {
    border-radius: 12px;
    color: #fb6f92;
    background-color: #fff;
    outline: auto;
    outline-color: #fb6f92;
}

#buttonEdit:hover{
    color: #fff;
    background-color: #fb6f92;
    transition-delay: 0.05s;
}

#addOwnerButton {
    color: white;
    background-color: black;
    border-radius: 40px;
}

#addOwnerButton:hover {
    background-color: #fb6f92;
}

#deshacerCambios {
    color: white;
    background-color: black;
    border-radius: 40px;
    border-color: black;
}

#deshacerCambios:hover {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}