@media (max-width: 480px) {
    .dates li.inactive {
        font-size: 10px !important;
    }

    .days li {
        font-size: 15px !important;
    }

    #dias {
        font-size: 10px !important;
    }
}

/* Mes del calendario */
.calendar h3 {
    font-weight: 600;
}

/* Cuerpo del calendario */
.calendar {
    width: 100%;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Contenedor del mes y los botones para cambiar el mes */
.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.calendar nav {
    display: flex;
    align-items: center;
}

/* Lista de los dias */
.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 0;
}

/* Items de la lista de los dias */
.calendar ul li {
    width: calc(100% / 7);
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}


/* Boton para cambiar de mes */
#prev,
#next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before,
#next::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}


#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
    border-color: #000;
}

/* /Boton para cambiar de mes */
.days {
    margin-bottom: 0;
}

.days li {
    font-weight: 600;
    font-size: 20px;
}

.dates li.inactive {
    display: flex;
    color: #ccc;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#dias {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    border-bottom: 1px solid #aaa;
}

#dias:hover {
    background-color: #fb6f92;
    color: #fff;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
    border-bottom: none;
}

#dias:focus {
    background-color: #fb6f92;
    color: #fff;
    border-bottom: none;
}

#dias.active {
    background-color: #fb6f92;
    color: white;
    border-bottom: none;
}

