/* Table */

table th {
    font-weight: bold;
}

table td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


table #options {
    background-color: #fb6f92;
    color: white;
}

table #options:hover{
    background: transparent;
    color: #fb6f92;
    border: #fb6f92 solid 1px;
}

#options button:hover,
#options button:focus {
    background-color: #fb6f92;
    color: white;
}

.navbar-toggler i {
    color: black;
}

#itemLista {
    display: flex;
    justify-content: space-between;
    border: 0px;
    background: #fb6f92;
    color: #fff;
    transition: background 0.3s ease, color 0.3s ease, border 0.2s ease-in-out;
}

#itemLista:hover {
    background: #fff;
    color: #fb6f92;
    border: #fb6f92 solid 1px;
}



#btnAdd {
    display: flex;
    justify-content: center;
    border: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #FD8EA9;
    background: #fff;
    transition: background 0.3s ease, color 0.3s ease;
}

#btnAdd:hover {
    background: #fb6f92;
    color: #fff;
}

#gestionButton {
    border-radius: 12px;
    color: #fb6f92;
    background-color: #fff;
    outline: auto;
    outline-color: #fb6f92;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#gestionButton:hover{
    color: #fff;
    background-color: #fb6f92;
    transition-delay: 0.05s;
}