/* Information Container Toggler */
#infoContainer a {
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-weight: bold;
}

/* Information Container Toggler Icon */
#infoContainer a i {
    margin-right: 10px;
}

/* Information Container Labels */
#infoContainer label {
    color: grey;
}

/* Information Container Inputs */
#infoContainer input {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(43, 43, 43, 0.2);
}

/* Pets Container Toggler */
#petsContainer a {
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-weight: bold;
}

/* Pets Container Toggler Icon */
#petsContainer a i {
    margin-right: 10px;
}

#collapsePets table {
    border-top: 1px solid grey;
}

/* Pets table headers */
#collapsePets table thead th {
    font-weight: bold;
    color: rgb(43, 43, 43);
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;     /* Oculta el desbordamiento */
    text-overflow: ellipsis;
}

/* Pets table items */
#collapsePets table tbody td {
    color: rgb(43, 43, 43);
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;     /* Oculta el desbordamiento */
    text-overflow: ellipsis;
}

/* Dates Container Toggler */
#datesContainer a {
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-weight: bold;
}

/* Dates Container Toggler icon */
#datesContainer a i {
    margin-right: 10px;
}

/* Dates Table */
#collapseDates table {
    border-top: 1px solid grey;
}

/* Dates Table headers */
#collapseDates table thead th {
    font-weight: bold;
    color: rgb(43, 43, 43);
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;     /* Oculta el desbordamiento */
    text-overflow: ellipsis;
}

/* Dates table items */
#collapseDates table tbody td {
    color: rgb(43, 43, 43);
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;     /* Oculta el desbordamiento */
    text-overflow: ellipsis;
}


#buttonEdit {
    border-radius: 12px;
    color: #fb6f92;
    background-color: #fff;
    outline: auto;
    outline-color: #fb6f92;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttonEdit:hover{
    color: #fff;
    background-color: #fb6f92;
    transition-delay: 0.05s;
}